{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    Order items list
{% endblock %}

{% block content %}
    <h1>Order items list</h1>
    {% if flag == False %}
      <b><p>24 hours have passed since the order {{order.id}} was placed, therefore it cannot be modified</p></b>
    {% else %}
    <p class="text-right">
        <a class="button danger" href="{% url 'cancel_order' order.id %}">Cancel order</a>
    </p>
    {% endif %}
    <form action="{% url 'update_order' order.id %}" method="POST">
        {% csrf_token %}
        <table class="cart">
            <thead>
                <th>ID</th>
                <th>Image</th>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Remove Item</th>
            </thead>
            <tbody>
                {% for item in order_items %}
                    {% with product=item.product %}
                        <tr>
                            <td>{{item.id}}</td>
                            <td>
                                <a href="{{ product.get_absolute_url }}">
                                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
                                </a>
                            </td>
                            <td>{{item.product}}</td>
                            <td>{{item.price}}</td>
                            <td>{{item.quantity}}</td>
                            <td>
                                {% if flag %}
                                    <input type="checkbox" name="item" value="{{item.id}}">
                                {% endif %}
                            </td>
                        </tr>
                    {% endwith %}
                {% endfor %}
            </tbody>
        </table>
        <p class="text-right">
            <a class="button light" href="{% url 'order_list' %}">Return to order list</a>
            {% if flag %}
                <button type="submit">Confirm changes</a>
            {% endif %}
        </p>
    </form>

{% endblock %}