{% extends "shop/base.html" %}

{% block title %}
    Order items list
{% endblock %}

{% block content %}
    <h1>Order items list</h1>
    <table class="cart">
        <thead>
            <th>ID</th>
            <th>Product </th>
            <th>Price</th>
            <th>Quantity</th>
        </thead>
        <tbody>
            {% for item in order_items %}
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.product}}</td>
                        <td>{{item.price}}</td>
                        <td>{{item.quantity}}</td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>  
{% endblock %}